<a href="https://colab.research.google.com/github/AVData/DS-Unit-1-Build/blob/master/DS-Unit-1-Build/Agustin%20Vargas-Sleep_Data_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [437]:
sc_sleep_data = pd.read_csv('/content/Build wk 1/sleepdata.csv', delimiter=';')
sc_sleep_data.head(20)

                  Start                  End  ... Heart rate Activity (steps)
0   2018-08-21 00:17:44  2018-08-21 06:31:59  ...          0                0
1   2018-08-22 00:08:58  2018-08-22 06:48:15  ...          0                0
2   2018-08-23 00:26:59  2018-08-23 05:14:15  ...          0                0
3   2018-08-26 02:22:35  2018-08-26 06:25:43  ...          0                0
4   2018-08-27 00:54:25  2018-08-27 08:24:27  ...          0                0
5   2018-08-28 00:23:26  2018-08-28 06:12:45  ...          0              291
6   2018-08-29 05:45:04  2018-08-29 07:33:17  ...          0             2013
7   2018-08-31 01:18:08  2018-08-31 06:31:26  ...          0              757
8   2018-09-01 05:32:35  2018-09-01 07:32:03  ...          0             1222
9   2018-09-02 01:22:20  2018-09-02 08:02:47  ...          0             1420
10  2018-09-04 01:08:49  2018-09-04 06:25:11  ...          0              667
11  2018-09-05 01:22:11  2018-09-05 06:41:47  ...          0             1271
12  2018-09-06 01:43:04  2018-09-06 06:17:20  ...          0             1742
13  2018-09-06 06:39:06  2018-09-06 07:42:15  ...          0                0
14  2018-09-07 01:08:47  2018-09-07 06:01:47  ...          0             1194
15  2018-09-07 06:18:29  2018-09-07 07:09:46  ...          0                0
16  2018-09-08 01:41:00  2018-09-08 08:24:45  ...          0              335
17  2018-09-09 02:37:51  2018-09-09 08:42:33  ...          0             1420
18  2018-09-10 07:03:52  2018-09-10 07:59:08  ...          0                0
19  2018-09-10 08:21:32  2018-09-10 08:44:09  ...          0                0

[20 rows x 8 columns]

In [438]:
sc_sleep_data.isnull().any()

Start               False
End                 False
Sleep quality       False
Time in bed         False
Wake up              True
Sleep Notes          True
Heart rate          False
Activity (steps)    False
dtype: bool

In [439]:
sc_sleep_data.isnull().sum()

Start                 0
End                   0
Sleep quality         0
Time in bed           0
Wake up             227
Sleep Notes         242
Heart rate            0
Activity (steps)      0
dtype: int64

In [440]:
test_replace = sc_sleep_data['Wake up'].map({':|': 0, ':)': 1, ':(': -1})
print(test_replace.describe())
test_replace.isnull().value_counts()

count    192.000000
mean       0.177083
std        0.501198
min       -1.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
Name: Wake up, dtype: float64

True     227
False    192
Name: Wake up, dtype: int64

In [441]:
sc_sleep_data['Wake up'] = sc_sleep_data['Wake up'].map({':|': 0, ':)': 1, ':(': -1})
sc_sleep_data['Wake up'].describe()

count    192.000000
mean       0.177083
std        0.501198
min       -1.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
Name: Wake up, dtype: float64

In [442]:
print(sc_sleep_data['Wake up'].isnull().value_counts(), '\n')

True     227
False    192
Name: Wake up, dtype: int64

In [443]:
# replacing the NaN values in columns 'Wake up' and 'Sleep Notes' with the 
# column mean

sc_sleep_data['Wake up'] = sc_sleep_data['Wake up'].fillna(sc_sleep_data['Wake up'].mean())
sc_sleep_data['Wake up'].describe()

count    419.000000
mean       0.177083
std        0.338796
min       -1.000000
25%        0.000000
50%        0.177083
75%        0.177083
max        1.000000
Name: Wake up, dtype: float64

In [444]:
sc_sleep_data['Wake up'].isnull().value_counts()

False    419
Name: Wake up, dtype: int64

In [445]:
# Dropping the 'Heart rate' column

sc_sleep_data = sc_sleep_data.drop(columns='Heart rate')
sc_sleep_data.describe()

          Wake up  Activity (steps)
count  419.000000        419.000000
mean     0.177083       2046.940334
std      0.338796       2163.332875
min     -1.000000          0.000000
25%      0.000000        657.000000
50%      0.177083       1748.000000
75%      0.177083       2845.500000
max      1.000000      20264.000000

In [446]:
# converting percentages to floats

sc_sleep_data['Sleep quality'] = sc_sleep_data['Sleep quality'].str.rstrip('%').astype('float') / 100
sc_sleep_data['Sleep quality'].head()

0    0.55
1    0.77
2    0.57
3    0.35
4    0.62
Name: Sleep quality, dtype: float64

In [447]:
sc_sleep_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 419 entries, 0 to 418
Data columns (total 7 columns):
Start               419 non-null object
End                 419 non-null object
Sleep quality       419 non-null float64
Time in bed         419 non-null object
Wake up             419 non-null float64
Sleep Notes         177 non-null object
Activity (steps)    419 non-null int64
dtypes: float64(2), int64(1), object(4)
memory usage: 23.0+ KB

In [448]:
# Leaving this for a bit later.  Working on datetime column

np.dtype(sc_sleep_data['Sleep Notes'])

dtype('O')

In [449]:
# Looking to create a column of days

sc_sleep_data['Start'].describe()

count                     419
unique                    419
top       2019-07-29 06:04:52
freq                        1
Name: Start, dtype: object

In [0]:
# # Test to find day of the week
# copy_1_date = pd.Timestamp(sc_sleep_data['Start'][0])

# copy_1_date.dayofweek

In [451]:
sc_sleep_data['Weekday'] =  pd.to_datetime(sc_sleep_data['Start'], infer_datetime_format=True)
sc_sleep_data['Weekday'] = sc_sleep_data['Weekday'].apply(lambda time: time.dayofweek)
sc_sleep_data.head(20)

                  Start                  End  ...  Activity (steps) Weekday
0   2018-08-21 00:17:44  2018-08-21 06:31:59  ...                 0       1
1   2018-08-22 00:08:58  2018-08-22 06:48:15  ...                 0       2
2   2018-08-23 00:26:59  2018-08-23 05:14:15  ...                 0       3
3   2018-08-26 02:22:35  2018-08-26 06:25:43  ...                 0       6
4   2018-08-27 00:54:25  2018-08-27 08:24:27  ...                 0       0
5   2018-08-28 00:23:26  2018-08-28 06:12:45  ...               291       1
6   2018-08-29 05:45:04  2018-08-29 07:33:17  ...              2013       2
7   2018-08-31 01:18:08  2018-08-31 06:31:26  ...               757       4
8   2018-09-01 05:32:35  2018-09-01 07:32:03  ...              1222       5
9   2018-09-02 01:22:20  2018-09-02 08:02:47  ...              1420       6
10  2018-09-04 01:08:49  2018-09-04 06:25:11  ...               667       1
11  2018-09-05 01:22:11  2018-09-05 06:41:47  ...              1271       2
12  2018-09-06 01:43:04  2018-09-06 06:17:20  ...              1742       3
13  2018-09-06 06:39:06  2018-09-06 07:42:15  ...                 0       3
14  2018-09-07 01:08:47  2018-09-07 06:01:47  ...              1194       4
15  2018-09-07 06:18:29  2018-09-07 07:09:46  ...                 0       4
16  2018-09-08 01:41:00  2018-09-08 08:24:45  ...               335       5
17  2018-09-09 02:37:51  2018-09-09 08:42:33  ...              1420       6
18  2018-09-10 07:03:52  2018-09-10 07:59:08  ...                 0       0
19  2018-09-10 08:21:32  2018-09-10 08:44:09  ...                 0       0

[20 rows x 8 columns]

In [452]:
sc_sleep_data['Start'] = np.array(sc_sleep_data['Start'], dtype=np.datetime64)
sc_sleep_data['End'] = np.array(sc_sleep_data['End'], dtype=np.datetime64)
sc_sleep_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 419 entries, 0 to 418
Data columns (total 8 columns):
Start               419 non-null datetime64[ns]
End                 419 non-null datetime64[ns]
Sleep quality       419 non-null float64
Time in bed         419 non-null object
Wake up             419 non-null float64
Sleep Notes         177 non-null object
Activity (steps)    419 non-null int64
Weekday             419 non-null int64
dtypes: datetime64[ns](2), float64(2), int64(2), object(2)
memory usage: 26.3+ KB

In [0]:
from datetime import datetime

In [463]:
datetime_example = datetime.strptime(sc_sleep_data['Time in bed'][0], '%H:%M').time()
datetime_example

datetime.time(6, 14)

In [469]:
for i in sc_sleep_data['Time in bed']:
  datetime.strptime(i, '%H:%M')

<class 'pandas.core.series.Series'>